.header {
  color: darkred;
  background-color: lightblue;
}

.sidebar {
margin: 10px;
border: 3px blanchedalmond;
padding: 5px;
background-color: green;
}

.end-note {
  font-style: italic;
  align-items: center;
}

img {
  padding: 10px;
}